/*
* (universal selector)
Div (all type selector)
.Class (all class selector)

#Id unlike classes
should use IDs sparingly, 
an element can only have one id
cannot be repeated on a single page


hyphen _


.read, .unread {
    //group selector, common declarations between the two elements
}

.read.subread {
.read#preview {
        //chain selector > an element that is 'read' and 'subread' in the same time
        //any selector, name with type but not chain types together
}


. ancestor .child {
        //descendant selector, when element is a child and in this ancestor
}

.card:hover .card_text {    /* when hover on card(parent) this is applied to text(child)

}

a[href^="http"] {       /* attribute selector
        //more in base3.css
}

/*

/* .class .class > parent child relation cant be reversed
group can be reversed




color: transparent;

quotes on the family name, no quotes on the generic names
"Times New Roman" sans-serif

setting height and width for an image (even if not needed)
will cause the image to have a space reserved until it loads 
and not cause float loading problems

/*-----------------------------------------------------------------------------*/
/*

CSS Cascade (Priority) for the same style-property only, else is applied
1.HTML inline                                           score 1000
1.1 html header style
2.Layer                                                 score 
3.Direct specificity/Last specified
4.ID                                                   score 100
5.Class/attribute(required, href=.. )/pseudo-selectors(::hover etc) score 10
6.Type                                                  score 1
* + > ~ _ || have no impact over specificity score      score 0

.para:first-of-type << highest hit 4 4 (wins) -> color:white
p.para << hit 4 5  -> color:red

#para -> color:red (now color:red has been enhanced by a hit so wins with this)


if same type, then the more count the more priority
.class .class wins over .class
#id .class wins over .class .class
#id .class .class wins over #id .class


Website style over browser style


@layers one, two; /* defining our layers */

/*

@layer one {
    h1 {

    }
}

@layer two {
    h1 {

    }

}

/* Adding fonts  */
/*
@font-face {
    font-family : fontname; 1
    src: url (  ); 2 
}

html link 
css font-family: 'fontname';

css @import url('');
css font-family: 'fontname';



/*-----------------------------------------------------------------------------*/
/* to open the ruler */
/*
Inspect in Chrome
Press Control+Shift+P or Command+Shift+P (Mac) to open the Command menu, 
type Show rulers on hover, and press Enter.

Command+F in elements to find
Edit HTML , CMD+Enter to finish
Right click force state hover etc,
Drag element
H > hide, delete > delete

Inspect > three dots on top-right > More tools > CSS overview


/*-----------------------------------------------------------------------------*/
/*
Everything in CSS is a box
with two types of boxes, inline or block

Which ever margin between two boxes is the largest, it is the one will be used

Padding and border adds to the total space
else use box-sizing: border:box;
to use only the given space over the content
called alternative CSS box model



Block:
new line, 
height/width are respected, 
padding/margin/border cause elements to be pushed away, 
box extend in the inline direction to fill space available in its container

inLine: (no HW,Vertical overlap)
same line
no height and width respected
vertical properties(padding,border) not push the opposite content overlap

inner display type
display: flex, affects the inner elements
display: inner-flex

display: inline-block

inline-size/block-size
If the writing mode is vertically oriented, 
the value of inline-size relates to the height of the element
inline-size: 150px;
writing-mode: vertical-rl;
vertical-align: top or bottom;

direction: rl; /*changes direction of alignment right to left*/


/*-----------------------------------------------------------------------------*/
/*
margin
child in relation to the containing element
if two opposites are in negative, the container is shrink by allowing their value
but container's min height does not shrink,

>Two positive margins will combine to become one margin. 
Its size will be equal to the >largest individual margin.
called Collapsing margins, is only relevant in the vertical direction.


>Two negative margins will collapse and the smallest 
(furthest from zero) value will be used.
(the direction between this element and the element on the other side is shortened, 
so you can find the other element traveling to the other side margrin)

>If one margin is negative, its value will be subtracted from the total.


border-style
cannot have a negative padding, will be 0

Margin: 0 auto;
element will take the width specified, then the remaining space
> split evenly between the two margins,
horizontally center that element within its container

Max-width instead of width for a block, 
improve handling small windows by allowing shrinking




/*-----------------------------------------------------------------------------*/
/*


Flexbox is used to line up a bunch of boxes

Divs and spans give no particular meaning to their content
Generic boxes that can contain anything
parent elements to correctly position other elements

Span, inline, group inline elements for styling, wrap with its content

using the normal/default flow of elements, ensures that your content is readable even if the user's using a very limited browser or a device such as a screen reader that reads out the content of the page. 

By default, block-level elements are laid out in the block flow direction, 
in lines
which is based on the parent's writing mode (initial: horizontal-tb).
so in a writing-mode: vertical-lr; divs will align beside each other








Display:none; element like <script> uses it as default, 
/* hide, not take space
common with KS to hide/show elements without really deleting and recreating them

visibility:none;
/* hide, take space







/*-----------------------------------------------------------------------------*/
/*

float: left;
overflow: auto; (allows parent to contain the float, a fix)

position: static;   not positioned in any specific way
[ its position ]    position: relative; allows add top/left etc to adjust its normal position, if not specified same as static
[ ancestor ]        position: absolute; to its nearest 'positioned i.e relative' ancestor
[view port ]        position: fixed; top/left relative to 'viewport', same place even if scrolled, top/left of view port window
[container scrl ]   position: sticky;         /* stays in its place and move on scroll in the container only  */

/*Layout1
make container relative
sections static but with margin-left according to navigation width px or %((not fixed nav) (will be 2/3 right)
navigation (will be 1/3 left)
    absolute(to relative parent)
    or float:left
/* and will be responsive because the divs do not have width's and take available


/* make divs beside each other and wrap
display: inline-block; 
or
float: left; (after box clear:left;)

/*layout2
.nav {
    display: inline-block;
    vertical-align: top;
    width: 25%
}
.remaining_of_the_container_container {
    display: inline-block;
    vertical-align: top;
    width: 75%

}


float allows horizontal position
flex allows complete control over alignment, order, size, direction
allows control from the parent

> powerful when nest flex-containers inside each other to create layouts
> most mobile layouts are a single column, while most desktop layouts 
  stack elements horizontally, this is when changing to direction: column comes handy

  flex-direction: row-reverse; //affects each row separately, not the whole order

> separate HTML content from presentation 

/*Layout 3
.container {
    display: flex;
}
.nav {
    width: 200px;
}
.flex-column {
    flex: 1;        /* remaining space split 1/1
}                   /* display:flex with flex: 1 take rest of container */

/*
flex: auto; /* flexible along the main axis 
flex: initial; /* inflexible out but can shrink
flex: none; /* inflexible in all situations shrink grow, just content
flex: 1 ( 1/1 remaining container space split 1/1 50/50, 1/2=33/66% )
flex: 1
order: 1;
order: -1;




align-content: flex-start; 
/* align-content modifies the behavior of flex-wrap. It is similar to align-items, 
but instead of aligning Flex Items, it aligns Flex Lines */
/* aligns but removes spaces between wrap lines




margin-right: auto;
/* for a flex item it absorbs all the remaining space to this margin direction

margin: auto; , margin: 0 auto;
/* centers a div if its a flex item

align-self:center;
/* overrides parent's align-items/cross axis
/* move item to end of container by itself

//item-align: baseline

Visibility:collapse; 
the element will affect the Cross Size of the Flex Container, 
but it will not be displayed nor will it consume any space on the Main Axis. 
This will be useful for dynamically adding and removing Flex 
Items without affecting the Flex Container’s Cross Size.



/* layout
Fixed (f:initial w width)) || flexible (flex:1) || Fixed (f:initial w width)

flex: 1; > flex: 1 1 0 > grow shrink basis
flex: auto; > flex: 1 1 auto
flex-shrink: 0; no shrinking

flex-basis: in row (width) in column direction (height)

children neglect their width in relation to flex shrink/grow
because of the flex-basis:0 ( default with flex: 1;)
flex-basis: auto: tells to check for a width declaration (default without flex: 1;)
so can use flex-grow alone, or specify flex: 1 1 auto;

extra shorthands
flex: 2; grow 2, shrink def, basis 0
flex: 10em/30%/min-content << these values affect flex-basis only
flex: 1 30px; grow 1, basis: 30px
flex: 2 2   grow/shrink
flex: 2 2 10% grow/shrink/basis

default flex child has
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

//flex: direction-reverse handy in right-to-left language layouts

gap: px;

The items do not stretch on the main dimension, but can shrink.
The items will stretch to fill the size of the cross axis.
items main axis if they will not wrap but will instead overflow.


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*

display: block, inline, inline-block, flex, inline-flex,
grid, inline-grid, flow-root

display: table, table-row, list-item

display: block flow, inline flow, inline flow-root, block flex...



*/

/*Fixing layout on screen size change
@media (min-width:600px) {  /*if more than 600px
    .class {}
}

@media (max-width:599px) { /*if less than 599px
    .class {display: inline;}
}










*/

/*
.testdiv_date.main {

    height: 200px;
    width: 500px;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.testdiv_date.sub {

    height: 100px;
    width: 100px;
    background-color: red;
}

*/




    /* counter style, clearfix */
    @media (min-width:100px)  {
    
    

        @counter-style x { symbol: }
        list-style: x;
        list-style-type: none;
        background:

        .button_blue {

            color: white;
            background-color: blue;

        }


        .thumb_list {
            list-style-type: "\1F44D"; /*thumb icon as the list marker */
        }


        /* a way of adding an image to the list item 
        and by padding make it seem like a marker */
        .image_li_marker {
            margin-left: -12px;
            padding-left: 12px;

            list-style-type: none;
            background: url('images/arrow.png') 0 50% no-repeat;

        }

        .inside_li_marker {

            list-style-position: inside;     /*placed with the text itself */
            list-style: circle inside;

        }

        /* horizontal list */
        li {
            /*
            display: inline-block; /* items on same line and markers removed */
            
            float: left;
            margin-left: 30px;
            /* items on same line and markers kept */

        }

        /*div containing 2 elements one of them get overflow because of flow property
        clearfix */
        .div_clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        
        .div_clearfix2 {
            overflow: auto;
        }
        
        
        /* lets define a counter/marker style that is not in the predefined set of styles */ 
        /* more reading on application */
        @counter-style thumbsUp {
            system : cyclic; /* cyclic, numeric, alphabetic, symbolic, additive, or fixed. */
            symbols: "\1F44D"; /* strings, images, or custom identifiers, can have multi symbols and will be placed in order */
            suffix: " "; /*content space,),img ... that will be appended to the marker representation. also there is prefix*/
            /*fallback: range: start end(infinite); speak-as */
        }
        /*https://www.w3.org/TR/predefined-counter-styles/, https://r12a.github.io/app-counters/*/

        li {
            list-style: thumbsUp;
        }

        p {
            font-size: 50px;
        }

        /*/////////////////////////////////////////////////////*/
    }


    @media (min-width:100px)  {


        .Para:first-of-type {
            color: orange;
            } 
        p#Para {
            color: red;   
        }

        #Para {
            color: red;   
        }



        .Test_Container {
            height: 100px;
            width: 100px;
            background: red;
            display: block;
            

        }

        .Margin1 {
            margin-bottom: 100px;
        }

        .Margin2 {
            margin-top: -20px;
        }

        .Test_Inline {
            background: blue;
            height: 100px;
            width: 100px;
            padding-left: 100px;
            padding-top: 100px;
            display: inline-block;


        }


        .testdiv_1809.main {

            height: 200px;
            width: 300px;
            background-color: lightblue;
            margin: auto;

        }

        .testdiv_1809.sub {

            background-color: red;
        }

    }

    @media (min-width:100px)  {

        .main.testdiv_2109 { 
            height: 300px; 
            background-color: rgb(109, 109, 109);
            display: flex;

            width: 500px;  !important;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;

            color: white;
            position: relative;



        /*    align-content is similar to align-items in values
            but it is related to "flex-wrap" lines
        */

        }

        .testdiv_2109.main:before {
            position: absolute;
            top: 0;
            left: 20%;
        }

        .testdiv_2109 {
            width: 200px;
            height: 100px;

        }

        .testdiv_2109.sub1 { 
            background-color: rgb(209, 91, 91);
            display: inline-block;
            vertical-align: top;
            flex: initial; /* grow 0 shrink 1 */

            
            
        }

        .testdiv_2109.sub2 { 
            background-color: rgb(112, 112, 231);
            display: inline-block;
            vertical-align: top;

        }

        .testdiv_2109.sub3 { 
            background-color: rgb(148, 192, 145);
            display: inline-block;
            vertical-align: top;
        }

        .testdiv_2109.sub4 { 
            background-color: rgb(199, 95, 199);
            vertical-align: top;

        }
    }

}




/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*
Animation then use keyframes
*/
    @media (min-width:100px)  {

        @keyframes example {

            from {background-color: red; left:0px; top:0px;}       /* default 0% of duration (start) */
            25%  {background-color: green; left:10px; top:10px;}
            50%  {background-color: orange; left:5px; top:5px;}
            to   {background-color: blue; left:0px; top:0px;}      /* default 100% of duration (end) */

        }

        .testdiv_2109.sub1 {

            position: relative;

            animation-name: example;
            animation-delay: 2s;        /* till start of animation */
            animation-duration: 4s;

            animation-iteration-count: 2; /* how many should it play, infinite*/
            animation-direction: alternate; /* what sequence should it repeat, normal in steps or reverse, or alternate(1 normal/1 reverse), alternate-reverse  */

            animation-timing-function: linear; /* ease(s f s) linear( - - ), ease-in (s -), ease-out( - s), ease-in-out ( s s ), cubic-bezier(n,n,n,n) */

            animation-fill-mode: forwards; /* none, forwards (style of last keyframe), backwards(style of first keyframe and retain during delay period), both(get valuse from first keyframe before animation starts and retain form last keyframe when animaton ends */

            /*  name delay timing duration count direction */

            animation-play-state: paused /* running or paused */

        }
    }

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*
The mix-blend-mode property specifies how an element's content 
should blend with its direct parent background.

The background-blend-mode CSS property sets how an element's background 
images should blend with each other and with the element's background color.


//mix//
multiply, source x destination = destination at least as dark
x black = black
x white = original color
(transparent film overlapping)

screen, 
destination at least as dark either of the two constituent colors
screening with white = white
screening with black = original color
(projection screen overlapping)

overlay,
source overlay while preserving the dest. highlights and shadows
mixed not replaced 
The final color is the result of multiply if the bottom color is darker, 
or screen if the bottom color is lighter. This blend mode is equivalent 
to hard-light but with the layers swapped.
(dark behind, lighter infront with some transparency)

hard-light:
Multiplies or screens the colors, depending on the source color value.



//background//

*/






/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/* blur glass effect
The backdrop-filter property is used to apply a graphical effect to the area behind an element.
blur, brightness%, opacity%, contrast%,
*/

/*
.testdiv_2109.sub1 {

    position: absolute;
    top: -10;

    border: 3px solid rgba(0, 0, 0, 0.075);
    border-radius: 10px;

    background-color: rgba(0, 106, 255, 0.341);
    backdrop-filter: blur(20px);

}
*/

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/* Linking in-page */

#id_name
<a href=" #id_name   "> text </a>
