/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 1000px;
}

.container1 {
  background: #23424a;
  color: white;

  width: 100%;
  margin: 0 auto;

  padding: 2em;
}

.intro-content {
  max-width: 500px;
  margin: 0 auto;


}


/*////////////////////////////////////////////////////////*/
.container2 {
  width: 100%;
  margin: 0 auto;

  padding-top: 2em;

}

/*//////////////////*/
.row { /*flex container */
  display: flex;
  flex-direction: row; /*by default*/
  justify-content: center;


  /*gap: 10px;*/


}

/* solution to margins in between without using gaps */
.col + .col , .col1 + .col1{ /*selecting each col having a col before it  */
  /*background-color: green;*/
  margin-left: 10px;
}

.col {
  /* the container of each item of h3,p
  when no h/was smallest possible size it could by default and fill the cross*/

  /*border: 1px solid black;*/
  /*margin: 10px*/
  padding: 10px;
  text-align: center;
  width: 30%;


}

/*//////////////////*/
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0a686f;
  width: 100%;
  
}

.col1 {
  padding: 10px;
  text-align: center;
  width: 40%;
  color: white;

}

