
html { 
    box-sizing: border-box; 
}

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0; 
    padding: 0; 
}



body{ 
    height: 1000px;
    width: 100vw;
}

.container1 {
    background: #23424A;
    width: 100%;

    padding: 19vh 0px 10vh 15vh;

    word-spacing: 0.1em;


}

    .row1 {
        display: flex;
        flex-direction: row;
    }

    .content_container {
        border: 1px solid rgba(255, 0, 0, 0.046);
        height: 70%;
        width: 60%;

    }



    .content_container h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 900;
        
        color: #FFFFFF;

        font-size: 2rem;
        line-height: 3rem;

    }


    .content_container p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        
        color: #cdcdcd;
        font-size: 0.9rem;
        font-weight: 300;

        margin-top: 1em;
    }


    .button {

        margin-top: 5em;

        background: #38CFD9 ;
        border-radius: 31.5px;
        height: 3em;
        width: 12rem;
        display: grid;
        place-items: center;

        mix-blend-mode: normal;

        font-family: 'Roboto Condensed', sans-serif;


    }

    .hero-img {

        height: 150px;
        width: 300px;

        align-self: center;


    }

/*////////////////////////////////////////////////////////*/

.container2 {

    background: #fefdfd;
    width: 100%;

    margin: 0 auto;
  
    padding-top: 2em;
}

  /*//////////////////*/

  .three-col {
    width: 100%;

    display: flex;
    justify-content: center;
    
  }
  .row { /*flex container */
    display: flex;
    flex-direction: row; /*by default*/
    padding: 30px;
    max-width: 800px;
  
    /*gap: 10px;*/
  
  
  }
  
  /* solution to margins in between without using gaps */
  .col + .col , .col1 + .col1{ /*selecting each col having a col before it  */
    /*background-color: green;*/
    margin-left: 10px;
  }
  
  .col {
    /* the container of each item of h3,p
    when no h/was smallest possible size it could by default and fill the cross*/
  
    /*border: 1px solid black;*/
    /*margin: 10px*/
    padding: 10px;
    text-align: center;
  
  
  }

  .row__title {
    color:rgb(84, 84, 84)
  }
  
  /*//////////////////*/

  .two-col {
    background-color: #0a686f;

    width: 100%;

    display: flex;
    justify-content: center;


  }
  
  .col1 {
    padding: 10px;
    text-align: center;
    color: white;
  
  }