
.main_container {

    background-color: beige;
    border: 1px dotted rgba(170, 170, 170, 0.3);
    border-style: dashed;
    height: 90vh;

    display: flex;
    flex-direction: column;

}

/*////////////////////////////////////////////////////////////////////*/

.header, .game_container, .footer, .game_board div, .header div{
    display: flex;
    justify-content: center;
    align-items: center;

}

    /*////////////////////////////////////////////////////////////////////*/
    .header {
        background-color: whitesmoke;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        flex: 1;

        flex-direction: column;

        animation: bganimate 5s ease-in-out infinite forwards ;

    }

    @keyframes bganimate2 {
        from {background-image: linear-gradient(to right, red 10%, blue)}
        to {background-image: linear-gradient(to right, red 50%, blue)}
    }

        .header div {
            border: 1px solid rgba(0, 0, 0, 0.2);
            flex: 1;
            width: 100%;

            gap:10px;
        }


    /*////////////////////////////////////////////////////////////////////*/
    .game_container {
        background-color: rgb(255, 254, 255);
        flex: 5;
    }

        .game_board {
            background-color: aliceblue;
            border: 1px dashed rgba(170, 170, 170, 0.3);
            height: 20rem;
            width: 20rem;

            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);




        }

                .game_board div {
                    border: 1px dashed rgba(170, 170, 170, 0.3);
                    font-size: 3rem;
                    font-family: fantasy;

                }


    /*////////////////////////////////////////////////////////////////////*/
    .footer {
        background-color: whitesmoke;
        flex: 1;

        justify-content: space-evenly;
    }
